/* .content :where(.content__toolbar, .toolbar__filter, .toolbar__feature){
    display: flex;
    align-items: center;
}
.content__toolbar{
    height: 36px;
    justify-content: space-between;
}
.toolbar__filter{
    column-gap: 11px;
}
.toolbar__feature{
    column-gap: 11px;
}

.toolbar__filter .txt-box--filter{
    height: 35px;
    width: 179px;
}
.toolbar__filter .dropdown{
    height: 35px;
    width: 219px;
}
.toolbar__feature .feature__btn{
   height: 36px;
   width: 36px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .16);
}
 */
