.icon-search-menu {
    background: url('../../assets/icon/qlts-icon.png') no-repeat -241px -153px;
    width: 22px;
    height: 22px;
}

.icon-search {
    background: url('../../assets/icon/qlts-icon.png') no-repeat -243px -23px;
    width: 18px;
    height: 18px;
}
.icon-search-menu-bold{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -241px -197px;
	width: 22px;
	height: 22px;
}

.icon-watch {
    width: 22px;
    height: 22px;
    background: url('../../assets/icon/qlts-icon.png') no-repeat -21px -153px;
}
.icon-watch-bold{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -22px -198px;
	width: 22px;
	height: 22px;
}
.icon-bus {
    width: 22px;
    height: 23px;
    background: url('../../assets/icon/qlts-icon.png') no-repeat -65px -153px;
}
.icon-bus-bold {
    background: url('../../assets/icon/qlts-icon.png') no-repeat -65px -197px;
	width: 22px;
	height: 23px;
}
.icon-way {
    width: 21px;
    height: 23px;
    background: url('../../assets/icon/qlts-icon.png') no-repeat -110px -153px;
}
.icon-way-bold{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -110px -197px;
	width: 21px;
	height: 22px;
}

.icon-brush {
    width: 22px;
    height: 22px;
    background: url('../../assets/icon/qlts-icon.png') no-repeat -153px -153px;
}
.icon-brush-bold{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -153px -197px;
	width: 22px;
	height: 22px;
}

.icon-process {
    background: url('../../assets/icon/qlts-icon.png') no-repeat -197px -155px;
    width: 22px;
    height: 18px;
}
.icon-process-bold{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -198px -200px;
	width: 22px;
    height: 18px;
}

.icon-chart {
    width: 22px;
    height: 22px;
    background: url('../../assets/icon/qlts-icon.png') no-repeat -329px -153px;
}
.icon-chart-bold{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -330px -198px;;
	width: 22px;
	height: 22px;
}

.icon-notification {
    background: url('../../assets/icon/qlts-icon.png') no-repeat -332px -109px;
    width: 16px;
    height: 20px;
}

.icon-app {
    background: url('../../assets/icon/qlts-icon.png') no-repeat -199px -23px;
    width: 18px;
    height: 18px;
}

.icon-question {
    background: url('../../assets/icon/qlts-icon.png') no-repeat -67px -67px;
    width: 18px;
    height: 18px;
}

.icon-user {
    background: url('../../assets/icon/qlts-icon.png') no-repeat -23px -23px;
    width: 18px;
    height: 18px;
}

.icon-down {
    background: url('../../assets/icon/qlts-icon.png') no-repeat -72px -338px;
    width: 8px;
    height: 5px;
}

.icon-excel {
    background: url('../../assets/icon/qlts-icon.png') no-repeat -287px -111px;
    width: 18px;
    height: 17px;
}

.icon-bin {
    background: url('../../assets/icon/qlts-icon.png') no-repeat -419px -111px;
    width: 18px;
    height: 18px;
}

.icon-add {
    background: url('../../assets/icon/qlts-icon.png') no-repeat -155px -111px;
    width: 18px;
    height: 18px;
}
.icon-bin--red {
    background: url('../../assets/icon/qlts-icon.png') no-repeat -463px -111px;
    width: 18px;
    height: 18px;
}


.icon-filter {
    background: url('../../assets/icon/qlts-icon.png') no-repeat -243px -68px;
    width: 17px;
    height: 16px;
}

.icon-edit {
    background: url('../../assets/icon/qlts-icon.png') no-repeat -156px -68px;
    width: 16px;
    height: 16px;
}

.icon-copy {
    background: url('../../assets/icon/qlts-icon.png') no-repeat -244px -112px;
    width: 16px;
    height: 16px;
}

.icon-close-sidebar {
    background: url('../../assets/icon/qlts-icon.png') no-repeat -461px -199px;
    width: 22px;
    height: 18px;
}

.icon-open-sidebar {
    background: url('../../assets/icon/qlts-icon.png') no-repeat -461px -155px;
    width: 22px;
    height: 18px;
}

.icon-dr-down {
    background: url('../../assets/icon/qlts-icon.png') no-repeat -72px -338px;
    width: 8px;
    height: 5px;
}
.icon-dr-up{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -28px -338px;
	width: 8px;
	height: 5px;
}

.icon-menu-down {
    background: url('../../assets/icon/qlts-icon.png') no-repeat -158px -293px;
    width: 11px;
    height: 7px;
}

.icon-dialog-warning {
    background: url('../../assets/icon/caution.png');
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.icon-toast-success {
    background: url('../../assets/icon/check.png');
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.icon-toast-error{
    background: url('../../assets/icon/error.png');
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.icon-ip-number {
    background: url('../../assets/icon/qlts-icon.png') no-repeat -204px -332px;
    width: 8px;
    height: 16px;
}

.icon-cb {
    background: url('../../assets/icon/qlts-icon.png') no-repeat -113px -377px;
    width: 14px;
    height: 14px;
}

.icon-cb-checked {
    background: url('../../assets/icon/qlts-icon.png') no-repeat -157px -377px;
    width: 14px;
    height: 14px;
}

.icon-close-popup {
    background: url('../../assets/icon/qlts-icon.png') no-repeat -375px -287px;
    width: 18px;
    height: 18px;
}
.icon-date{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -287px -67px;
	width: 18px;
	height: 18px;
}

.icon-option-horizontal{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -110px -420px;
	width: 20px;
	height: 15px;
}
.icon-option-down{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -158px -249px;
	width: 11px;
	height: 7px;
}
.icon-option-vertical{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -22px -421px;
	width: 20px;
	height: 14px;
}
.icon-print{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -331px -67px;
	width: 18px;
	height: 18px;
}
.icon-3-dot{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -383px -26px;
	width: 3px;
	height: 13px;
}
.icon-zoom-in{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -245px -333px;
	width: 14px;
	height: 14px;
}
.icon-zoom-out{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -289px -333px;
	width: 14px;
	height: 14px;
}
.icon-draggable{
    background: url('../../assets/icon/icon_draggable.png') no-repeat;
    width: 25px;
    height: 25px;
    background-position: center;
    background-size: contain;
}
.icon-add-task{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -375px -419px;
	width: 18px;
	height: 18px;
}
.icon-delete-task{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -375px -463px;
	width: 18px;
	height: 18px;
}