.table-section {
    overflow: auto;
    background-color: #ffffff;
}

.table-section::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

/* .table-section::-webkit-scrollbar-button:start {
    height: 41px; 
    background-color: #f5f5f5;
}
.table-section::-webkit-scrollbar-button:end {
    height: 48px; 
    background-color: #ffffff;
} */

table {
    border-collapse: collapse;
    font-size: 14px;
    width: 100%;
    outline: unset;
}

table .cut {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


thead {
    z-index: 1;
    position: sticky;
    top: 0;
    background-color: #f5f5f5;
    font-size: 13px;
    font-weight: 700;
    color: #001031;
}

thead th {
    position: relative;
}

thead .column-resize {
    width: 3px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #dddddd;
    cursor: col-resize;
    visibility: hidden;
}

tfoot {
    position: sticky;
    bottom: 0;
    background-color: white;
    background: linear-gradient(to top, white 98%, #dddddd 1%);
    right: 0;
    left: 0;
    z-index: 1;
}

tbody tr {
    border-top: 1px solid #dddddd;
    height: 39px;
}

.table-row--border-bottom tr:last-child {
    border-bottom: 1px solid #dddddd;
}

thead th,
tbody td,
tfoot td {
    padding: 12px 0px 12px 16px;
    text-align: left;
}


/* tbody td:hover {
    overflow: visible;
}

tbody td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} */

thead th:last-child,
tbody td:last-child,
tfoot td:last-child {
    padding-right: 16px;
}

tbody tr td.feature-button {
    padding-left: 10px;
}

tfoot tr {
    height: 40px;
}

.table__cell-right {
    text-align: right;
}

.table__cell-center {
    text-align: center;
}

.table__cell-right--bold {
    text-align: right;
    font-weight: bold;
}

thead tr th:hover .column-resize {
    visibility: visible;
}

tbody tr:hover td {
    background-color: rgba(26, 164, 200, .2);
    cursor: pointer;
}

.table-row-check {
    background-color: rgba(26, 164, 200, .2);
}

.table-row-active {
    background-color: #bcdcf7;
}

tbody tr:hover button {
    visibility: visible;
}

td button {
    visibility: hidden;
    cursor: pointer;
    border: none;
    margin-left: 16px;
    background-color: transparent;
}

.table-section .table-footer {
    display: flex;
    align-items: center;
}

.table-footer .dropdown {
    height: 25px;
    width: 59px;
    margin-left: 38px;
}

.table-footer__pagging {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-left: 20px;
}

.table-footer__pagging li {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-footer__pagging .pagging__item--active {
    font-weight: bold;
    background-color: #ebebeb;
    border-radius: 20%;
}