.tooltip{
    position: relative;
    cursor: pointer;
    display: inline-block;
}
.tooltip .tooltip__text{
    display: none;
    position: absolute;
    top: 110%;
    right: 50%;
    white-space: nowrap;
    background-color: #ffffff;
    border: 1px solid #afafaf;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .16);
    padding: 0 5px 0 5px;
    font-size: 13px;
    z-index: 1;
    font-weight: normal;    
}
.tooltip:hover .tooltip__text{
    display: block;
}
.tooltip--left .tooltip__text{
    left: 50%;
    right: unset;
}