.tooltip {
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.tooltip .tooltip__text {
    transform: scale(0);
    position: absolute;
    top: 110%;
    right: 50%;
    white-space: nowrap;
    background-color: #ffffff;
    border: 1px solid #afafaf;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .16);
    padding: 0 5px 0 5px;
    font-size: 13px;
    z-index: 2;
    font-weight: normal;
}

.tooltip:hover .tooltip__text {
    transition: transform 0.3s;
    transform: scale(1);
}

.tooltip--right .tooltip__text {
    left: 50%;
    right: unset;
}

.tooltip.tooltip-table .tooltip__text {
    white-space: normal;
    right: auto;
}

.tooltip.tooltip-table.tooltip--disable:hover .tooltip__text{
    display: none;
}